body {
  font-family: Arial, Helvetica, sans-serif;
}

.bg-header {
  background-color: lightgray;
}

h1 {
  font-weight: 600;
}

.title-card {
  font-weight: 600;
}

p {
  margin-bottom: 0;
}

.empty-box {
  text-align: center;
  width: 50%;
}

.language-item {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 1rem;
}
