body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 2rem 8rem;
}

.languages-box {
  margin: 3rem 0;
}

.language-item {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 1rem;
}
